.info_container {
  height: fit-content;
}
.info_container-top, .info_container-buttom {
  background-color: var(--mainWhite);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(105, 112, 119, 0.16);
  padding: 24px;
  height: fit-content;
  margin-bottom: 24px;
}
.info_container-top h2, .info_container-buttom h2 {
  font-weight: 600;
  font-size: 20px;
  color: var(--mainBlack);
  margin: 0;
}
.infoItem-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--mainGrey20);
  font-size: 14px;
  font-weight: 400;
  color: var(--mainGrey60);
  padding: 18px 0;
}
.infoItem-item .right {
  color: var(--mainBlack)
}
.profile_prepod {
  display: grid;
  margin: 24px 0;
  grid-template-columns: auto 1fr;
  grid-template-areas: "foto name"
                       "foto star"
}
.profile_prepod-foto {
  grid-area: foto;
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
.profile_prepod-name {
  grid-area: name;
}
.profile_prepod-star {
  grid-area: star;
}
.profile_prepod-button {
  background-color: var(--mainBlue);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_prepod-button span {
  color: var(--mainWhite);
  font-size: 16px;
  font-weight: 600;
  padding: 14px;
}